.Bshasdow {
    box-shadow:  1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06) !important
}
.Tshadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important
}
.tableCheck {
     width: 1.125em;
     height: 1.125em;
     margin-top: 0.1875em;
     vertical-align: top;
     background-color: rgb(242, 244, 246);
     background-repeat: no-repeat;
     background-position: 50% center;
     background-size: contain;
     border: 1px solid rgb(209, 213, 219);
     appearance: none;
     -webkit-print-color-adjust: exact;
     transition: background-color 0.2s ease-in-out 0s, background-position 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}
.sharpArrow {
    opacity: 0 !important;
    transition: all 0.3s ease-in-out;
}

.showToolTip:hover .sharpArrow {
    opacity: 1 !important;
    transition: all 0.3s ease-in-out;
}

.sharpArrow::before {
     content: '';
     width: 0;
     height: 0;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     border-right: 10px solid var(--white-color);
     position: absolute;
     left: 28px;
     top: -11px;
     transform: rotate(90deg);
}